.content {
  padding: 30px;
  transition: background-color 0.5s ease-out;
  width: 60%;
}

@media screen and (max-width: 800px) {
  .content {
    width: 100%;
  }
}

.row-content {
  display: flex;
}
.content h1:hover {
  cursor: pointer;
}
.content h1:hover + div {
  background-color: #32797159;
}